@page "/product"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<PageTitle>Products</PageTitle>
<h1>Product List</h1>
<NavLink class="nav-link" href="addproduct">
    <span class="oi oi-bookmark" aria-hidden="true"></span> Add Product
</NavLink>
@if (productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th scope="col">Price</th>
                <th scope="col">Avaiable</th>
                <th scope="col">Category Name</th>
                <th scope="col">image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productList.data)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Details</td>
                    <td>@item.Price</td>
                    <td>@item.Avaiable</td>
                    <td>@item.Category.Name</td>
                    <td><img src="@item.Image.Url" width="50%" height="50%" /></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private ProductsList? productList;
    public string strapi_api_url;
    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["AppSettings:STRAPI_API_URL"];
        var urlProducts = "{STRAPI_API_URL}/api/products?populate=*";
        productList = await Http.GetFromJsonAsync<ProductsList>(urlProducts.Replace("{STRAPI_API_URL}", strapi_api_url));
        if (productList.data != null)
        {
            foreach (var post in productList.data)
            {
                post.Image.Url = "http://localhost:1337" + post.Image.Url;
            }
        }
    }

    public class Product
    {
        public int Id { get; set; }
        public double Price { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }
        public string Details { get; set; }
        public Image Image { get; set; }
        public Category Category { get; set; }
    }
    public class Image
    {
        public string Url { get; set; }
    }
    public class Category
    {
        public string Name { get; set; }
        public bool Avaiable { get; set; }

    }

    public class ProductsList
    {
        public List<Product> data { get; set; }
    }
}
